*{
    padding: 0;
    border: 0;
  }

.background {
    background-image: url("./images/light\ purple.png");
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Indie Flower', cursive;
}

.portfolio {
    background-image: url("./images/light\ purple.png");
    background-size: cover;
    background-repeat: repeat-y;
}

#navbar, #cursive {
    font-family: 'Indie Flower', cursive;
}

#plain {
    font-family: 'Noto Serif JP', serif;
}

#photoofme {
    border-radius: 100em;
    border-color: teal;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  
#aboutparagraph {
    margin-bottom: 1em;
    margin-top: 2em;
  }