*{
  padding: 0;
  border: 0;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
}

.white {
  color: white;
}

#content {
  background-color: teal;
  font-family: 'Noto Sans JP', sans-serif;
}

.heading {
  color: white;
  padding: 1em 0;
}