*{
  padding: 0;
  border: 0;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
}


#content {
  background-color: teal;
  font-family: 'Noto Sans JP', sans-serif;
}

#navbar {
  font-family: 'Noto Sans JP', sans-serif;
}

.heading {
  color: white;
  padding: 1em 0;
}

#photoofme {
  border-radius: 100px;
  margin-bottom: 1em;
}

#aboutparagraph {
  margin-bottom: 1em;
}

#extra-padding {
  padding-bottom: 2em;
}